git+https://github.com/python-social-auth/social-app-django.git@20fabcd7bd9a8a41910bc5c8ed1bd6ef2263b328
git+https://github.com/django-extensions/django-extensions.git@25a41d8a3ecb24c009c5f4cac6010a091a3c91c8
asgiref==3.5.2
astroid==2.15.3
atomicwrites==1.4.1
attrs==22.2.0
autopep8==2.0.2
certifi==2022.12.7
charset-normalizer==2.0.12
colorama==0.4.6
dill==0.3.6
distlib==0.3.6
Django==4.1.9
django-filter==22.1
djangorestframework==3.12.4
djangorestframework-simplejwt==5.2.2
filelock==3.12.0
idna==3.4
iniconfig==2.0.0
isort==5.12.0
lazy-object-proxy==1.9.0
mccabe==0.7.0
numpy==1.24.2
packaging==23.0
pbr==5.11.1
Pillow==9.2.0
platformdirs==3.2.0
pluggy==0.13.1
py==1.11.0
pycodestyle==2.10.0
PyJWT==2.1.0
pylint==2.17.2
pytest==6.2.4
pytest-django==4.4.0
pytest-pythonpath==0.7.3
pytz==2022.7.1
requests==2.26.0
sqlparse==0.4.2
stevedore==5.0.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.7
typing_extensions==4.5.0
tzdata==2023.3
urllib3==1.26.15
virtualenv==20.23.0
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
wrapt==1.15.0